@import "stylesheets/syntax";

body {
  margin: unset;
  padding: unset;
  background-color: #fff;

  .container {
    max-width: 70ch;
    margin: auto;
    padding: 0 16px;
    overflow: hidden;
  }

  p,
  td,
  a,
  .rss,
  h1,
  h2,
  h3,
  h4,
  h5,
  blockquote::before,
  figcaption,
  pre,
  li,
  h3,
  td,
  th {
    color: #000;
    font-family: sans-serif;
  }

  table {
    td,
    th {
      text-align: left;
      padding: 2px 4px;
    }

    tr:nth-of-type(2n) {
      background: #fafafa;
    }
  }
}
